# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Folder config files
.directory

# Editor/IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
